/* .main-navigation {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 3.5rem;
    background: #5101d1;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  }
  
  .main-navigation__logo h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #dfcefc;
  }
  
  .main-navigation__items {
    margin-left: 1.5rem;
  }
  
  .main-navigation__items ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
  }
  
  .main-navigation__items li {
    margin: 0 1rem;
  }
  
  .main-navigation__items a,
  .main-navigation__items button {
    text-decoration: none;
    color: white;
    padding: 0.25rem 0.5rem;
    border: none;
    font: inherit;
    background: transparent;
    cursor: pointer;
    vertical-align: middle;
    margin: 0;
  }
  
  .main-navigation__items a:hover,
  .main-navigation__items a:active,
  .main-navigation__items a.active,
  .main-navigation__items button:hover,
  .main-navigation__items button:active {
    background: #ffffff;
    color: #5101d1;
    border-radius: 5px;
  } */

.navbar,
.navbar-default {
    background-image: linear-gradient(to bottom,#3c5975 0,#314c66 100%) !important; /* override background image gradient w/ flat color */
}

.navItem{
  color: rgba(255, 255, 255, 0.514);
  border-radius: 5px;
  padding: 10px;
  margin: 10px ;
  
  
}

.navItem:hover{
  background: #ffffff;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  padding: 10px;
    
}


h2 {
  margin:0;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  text-align: center;
  margin-right: 15px;

 
}

.courseChild{
  width: fit-content;
  cursor: pointer;
  float:left
}

.courseParent{
  width: 310px;
  display:inline-block;
background-color: #f8f9fa;
border: 2px solid rgba(28,110,164,0.1);
border-radius: 40px;
  
}
.courseParent:hover{
  
display:inline-block;
cursor: pointer;
background-color: #d7dde2;
border: 2px solid rgba(28,110,164,0.1);
border-radius: 40px;
  
}
.courseParent:active{
  
  display:inline-block;
  cursor: pointer;
  background-color: #c5bebe;
  border: 2px solid rgba(28,110,164,0.1);
  border-radius: 40px;
    
  }

.courseImage{
  border-radius: 40px;
}