.checkIcon{
    font-size: 26px;
    text-align:center;
}

.xIcon{
    font-size: 26px;
    text-align:center;
}

.statusHeader{
    text-align:center;
}

.sectionHeaderTable{
    margin-top: 9px;
}

.circleIcon{
    font-size: 26px;
    text-align:center;
}